Aula 2 - Mão na massa

In [40]:
#Exercício 1
saldo=950.60
saque=float (input('Digite o valor de saque: '))
saldo= saldo-saque
print( f'o valor do saldo atual é {saldo:.2f}')
print('o valor do saldo atual é {0:.2f}'.format(saldo))
print('o valor do saldo atual é',saldo)

o valor do saldo atual é 850.60
o valor do saldo atual é 850.60
o valor do saldo atual é 850.6

In [41]:
#Exercício 2
lista_fruta=[]

In [50]:
lista_fruta.append(input('Digite uma fruta: '))
list(set(lista_fruta))

['banana', 'morango', 'laranja', 'mamão', 'abacate', 'maçã']

In [51]:
#Exercício 3
frase=input('Digite uma frase: ')
print(frase)
frase=frase.replace('a','*').replace('e', '*').replace('i', '*').replace('o', '*').replace('u', '*')
frase

uma pessoa boa me chamou

'*m* p*ss** b** m* ch*m**'

In [53]:
frase=input('Digite uma frase: ')
print(frase)
frase=frase.replace('a','*')
print(frase)
frase=frase.replace('e', '*')
print(frase)
frase=frase.replace('i', '*')
print(frase)
frase=frase.replace('o', '*')
print(frase)
frase=frase.replace('u', '*')
print(frase)

a luz aparece na escuridão
* luz *p*rece n* escuridão
* luz *p*r*c* n* *scuridão
* luz *p*r*c* n* *scur*dão
* luz *p*r*c* n* *scur*dã*
* l*z *p*r*c* n* *sc*r*dã*

Desafio Fora de Sala

In [25]:
#Exercício 1
peso=float(input('informe o peso em quilogramas (kg): '))
altura=float(input('informe a altura em metros (kg): '))
print('O seu IMC é {0:.2f}'.format(peso/(altura**2)))

O seu IMC é 23.63

In [29]:
#Exercício 2
lista=[]
lista.append(int(input('insira o 1º número inteiro: ')))
lista.append(int(input('insira o 2º número inteiro: ')))
lista.append(int(input('insira o 3º número inteiro: ')))
lista.append(int(input('insira o 4º número inteiro: ')))
lista.append(int(input('insira o 5º número inteiro: ')))
lista

[1, 2, 3, 4, 5]

In [28]:
#Exercício 3
nomes=input('Digite os nomes separados por virgula sem espaço: ')
nomes.split(',')

['gabriel', 'augusto', 'martins', 'rodrigues']